<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Syrien - Konflikt und Flucht</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar pt-3" role="banner">
      <div class="container-fluid">
        <div class="col-6 col-xl-6 logo">
        <h1 class="mb-0"><a href="#" class="text-black h2 mb-0">Syrien - Eine Betrachtung von Konflikt und Flucht</a></h1>
      

        <div class="col-6 mr-auto py-3 text-right" style="position: relative; top: 3px;">

          <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-xl-none"><span
              class="icon-menu h3"></span></a></div>

          </div>


 
          <div class="col-12 d-none d-xl-block border-top">
            <nav class="site-navigation text-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block mb-0">
                <li><a href="#">Kartographische Visualisierung</a></li>
                <li><a href="#konflikt">Konfliktparteien</a></li>
                <li><a href="#chronik">Chronik des Bürgerkriegs</a></li>
                <li><a href="#daten">Datenrecherche</a></li>
                <li><a href="#medien">Deutsche Medienlandschaft</a></li>
                <li><a href="#about">Über das Projekt</a></li>
              </ul>
            </nav>


          </div>
  





      </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  
  <div class="container">
    <img src="{% static 'images/beuth.jpg' %}" class="img-fluid">
  </div>
  <!--Map-->


  <div class="container">
<br>
<br>
<br>
    <h2 id="map" tabindex='-1' class="mb-4">Kartographische Visualisierungen</h2>

  </div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{% url 'flowmap' %}"><img src="{% static 'images/flow.png' %}" alt="Image"
                class="img-fluid"></a>

            <div class="card-body">
              <h5 class="card-title">Map of Migration Flow</h5>

              <p class="card-text">
                Die <i>Map of Migration Flow</i> zeigt die Migrationsbewegungen der syrischen Zivilbevölkerung in die EU- und EFTA Staaten sowie in die umliegenden Nachbarstaaten seit Beginn des
                Bürgerkrieges bis 2018.

              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'flowmap' %}"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Karte anzeigen</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{% url 'conflictmap' %}"><img src={% static 'images/conflict.png' %} alt="Image" class="img-fluid"></a>
            <div class="card-body">
              <h5 class="card-title">Map of Conflict Data</h5>

              <p class="card-text">Die <i>Map of Conflict Data</i> visualisiert Daten zu den kriegerischen Ereignissen auf syrischem
                Territorium von 2011 bis 2018. Aus der Karte kann die Anzahl der Todesopfer entnommen werden.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'conflictmap' %}"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Karte anzeigen</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{% url 'mapOfDensity' %}"><img src="{% static 'images/choro.png' %}" alt="Image" class="img-fluid"></a>
            <div class="card-body">
              <h5 class="card-title">Map of Migration Density</h5>

              <p class="card-text">Die <i>Map of Migration Density</i> visualisiert Daten zu den aufgenommenen
                Flüchtlingen je 10.000 Einwohner für EU- und EFTA-Staaten sowie Anrainerstaaten von 2011 bis 2018.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'mapOfDensity' %}"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Karte anzeigen</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!--Konfliktparteien-->



  <div class="site-section">
    <div class="container">
      <h2 id="konflikt" tabindex='-1' class="mb-4">Der Syrien-Konflikt - Die Hauptakteure und ihre Interessen</h2>
      <div class="row">
        <div class="col">
          <h4>Das Assad-Regime</h4>
          <p class="mb-4" align="justify">Die <i>syrische Regierung</i>, unter <i>Präsident Bashar al-Assad</i>, ist
              der <i>zentrale
                Akteur</i> des
              Syrienkrieges. Im Zuge des arabischen Frühlings brechen ab dem März 2011 auch in Syrien
              <i>Demonstrationen</i> aus,
              worauf die <i>Regierung in Damaskus mit Gewalt</i> antwortet. Aus diesen Protesten entwickelt sich wenig
              später
              der syrische Bürgerkrieg. Die Legitimität der Regierung wird dabei international unterschiedlich bewertet.
              Das liegt vor allem an den <i>zahllosen Menschenrechtsverletzungen</i>. Das <i>grundlegende Ziel</i> von
              Assad ist der
              <i>Machterhalt und die Wiederherstellung der Kontrolle über ganz Syrien</i>. Die <i>wichtigsten militärischen Stützen</i> des Regimes sind die <i>reguläre Armee, freie Milizen sowie Russland</i>.
              Weitere <i>Verbündete</i> sind <i>schiitische Milizen aus dem Irak, Iran und Afghanistan</i>.</p></p>

        </div>

        <div class="col">
          <h4>Die Freie Syrische Armee (FSA)</h4>
          <p align="justify">Die <i>Rebellen in Syrien</i> sind mit der syrischen Regierung und mit den Kurden
              verfeindet.
              Die Milizen kämpfen an der Seite der Türkei, sind aber im Laufe des Konflikts immer mehr in den
              Hintergrund getreten. Zu den Rebellen zählt die <i>Syrische Nationalkoalition</i>. Die Freie Syrische
              Armee
              ist dabei das <i>militärische Instrument</i> der Nationalkoalition. Sie verfolgt <i>mehrere Ziele</i>. Dazu gehören u.a.
              die absolute
              <i>nationale Souveränität und Unabhängigkeit Syriens</i>, der <i>Sturz des syrischen Regimes</i>, die
              <i>Auflösung
              der Sicherheitskräfte und die Bestrafung der Verantwortlichen für Verbrechen am syrischen Volk</i>.
              Des Weiteren soll das <i>Engagement für ein ziviles und demokratisches Syrien</i> aufrechterhalten werden.
          </p>

        </div>

      </div>


      <div class="row">
        <div class="col">
          <h4>Der Iran</h4>
          <p align="justify">Der Iran ist der <i>einzig konstante Partner Syriens im Nahen Osten</i>. Seit dem
              Ausbruch
              des Krieges in Syrien ist das <i>Assad-Regime zunehmend abhängig von iranischer Unterstützung</i>. Syrien
              und der Iran beschränken sich auf <i>drei gemeinsame Ziele</i>: Eindämmung des <i>amerikanischen Einfluss' im Nahen
                Osten</i>, 
                <i>Schwächung Israels</i> sowie die <i>Einhegung der regionalen Machtansprüche des
                Iraks</i>. Ein
              weiterer Vorteil für den Iran ist, dass <i>Syrien eine Basis für die Hisbollah-Miliz</i> ist. Das gute
              Verhältnis
              <i>sichert den Einfluss im Libanon</i>, in dem sowohl Hisbollah als auch syrische Geheimdienste
              politische Akteure sind. Des Weiteren findet in Syrien ein <i>Stellvertreterkrieg zwischen dem Iran
                und den Golfstaaten (insbesondere Saudi-Arabien)</i> statt, weil diese wiederum sunnitische Milizen unterstützen.
              Folglich unterstützt der Iran die syrische Regierung mit Waffen, Geld sowie militärischer und
              geheimdienstlicher
              Expertise. Der Iran ist aus heutiger Sicht eine
              <i>de facto-Ordnungsmacht</i> in Syrien und hat sich eine Landachse vom Mittelmeer bis nach Teheran
              gesichert.
          </p>


        </div>

        <div class="col">
          <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">

        </div>
      </div>

      <div class="row">
        <div class="col">

          <h4>Die kurdische Miliz YPG</h4>
          <p align="justify">Die Kurden sind die <i>größte ethnische Minderheit</i> in Syrien und etablierten nach
              2011
              ein <i>autonomes Herrschaftsgebiet im Norden</i> des Landes. Die Kurden stehen nicht auf der Seite Assads,
              sehen in ihm aber auch nicht den Hauptfeind. Denn in erster Linie ist das der IS, gefolgt von der Türkei.
              Durch den Rückzug der syrischen Armee haben die Kurden die volle Kontrolle über große Siedlungsgebiete
              im Norden Syriens erlangt und <i>profitierten dadurch indirekt von der Schwächung des Regimes</i>. US Soldaten
              unterstützen
              die Milizen am Boden, wobei die Kurden in Afrin mit Assad kooperieren, der wiederum mit den USA verfeindet ist.
              Im Osten des Landes bekämpfen sich wiederum die Kurden und die syrische Regierung gegenseitig.
            </p>


        </div>

        <div class="col">

          <h4>Der Islamische Staat (IS)</h4>
          <p align="justify">Der „Islamische Staat“ ist eine <i>sunnitisch-islamistische Terrormiliz</i>, die
              versucht,
              im Irak und in Syrien einen <i>eigenen Glaubenstaat in Form eines Kalifats</i> zu errichten. Sie strebt
              nach der <i>Ausweitung ihres Herrschaftsbereiches</i> auf die ganze Welt. In dem vom IS beherrschten
              Gebiet hat dieser mittlerweile einen „de facto-Staat“ mit Verwaltung, Justizsystem und Militär aufgebaut.
              Die „Hauptstadt“ ist das syrische Ar-Raqqa. Die Miliz finanziert sich durch Aneignung von Geldreserven
              aus Staatsbanken in eroberten Gebieten, Raub, Erpressung, Ölschmuggel, Antikenschmuggel und Spenden aus
              dem
              (primär arabischen) Ausland.
          </p>

        </div>

      </div>

      <div class="row">

        <div class="col">
          <h4>Russland</h4>
          <p align="justify">
              Russland trat offiziell am 30.September 2015 in den Konflikt ein und ist <i>militärisch der wichtigste
                Verbündete Assads</i>. Russland ist bestrebt die Regierung zu stützen, um seine <i>eigenen
                Interessen in
                Syrien und im Nahen Osten zu wahren.</i> Dazu zählt u.a. die ungehinderte Beibehaltung der russischen Stützpunkte am Mittelmeer und die
              Marinebasis in Tartus, sowie die damit verbundene
              Wiedererlangung des Status einer Weltmacht, welche sich gegen die Interessen der USA und
              ihrer Verbündeten behaupten kann. Durch den Eintritt Russlands hat der Konflikt eine geopolitische
              Bedeutung bekommen. Jeder Versuch des
              Westens, im Uno-Sicherheitsrat gegen das brutale Vorgehen Assads eine Resolution
              einzubringen, blockierte Russland bisher mit einem Veto.
          </p>

        </div>

        <div class="col">

          <h4>USA</h4>
          <p align="justify">Die USA hat sich anfänglich im syrischen Konflikt zurückgehalten. Die USA unterstützt
              diplomatisch und mutmaßlich auch logistisch und finanziell die demokratische Opposition, militärisch
              aber in erster Linie die Kurden. <i>Vorranging geht es den USA aber um den Kampf gegen den IS</i>. Der
              Standpunkt der amerikanischen Syrien-Politik wirft immer wieder Rätsel auf. Die USA und andere Anhänger
              der Anti IS Koalition haben theoretisch keine Berechtigung zu Militäroperationen in Syrien, jedoch hat die
              syrische Regierung bislang wenig dagegen unternommen.
          </p>


        </div>


      </div>

      <div class="row">


        <div class="col">
          <h4>Türkei</h4>
          <p align="justify">Die Türkei befindet sich in einem <i>Netz von sich widersprechenden Interessen und
                Pflichten</i>.
              Sie soll nach dem Willen Erdoğans <i>Hegemonialmacht im Nahen Osten</i> werden und beabsichtigt dazu den Sturz
              Assads. Andererseits ist die Türkei als Nato Mitglied eigentlich seinen westlichen Verbündeten verpflichtet,
              will aber wiederum mit aller Kraft <i>autonome kurdische Territorien an ihren Grenzen verhindern</i>,
              auch wenn
              das eine Stärkung des IS oder die Bekämpfung der eigenen Verbündeten fordert.
          </p>

        </div>

        <div class="col"></div>



      </div>

      <div class="text-right">
        <a href="#"><button type="button" class="btn btn-danger">Zurück zu den Visualisierungen</button></a>
      </div>

    </div>
  </div>








  <!--Chronik-->

  <div class="container">

    <h2 id="chronik" tabindex='-1' class="mb-4">Chronik des Bürgerkriegs</h2>

  </div>

  </div>

  <div class="slide-one-item home-slider owl-carousel" data-interval="false">



    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2011</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Am Anfang des Konflikts treten im Zuge des arabischen Frühlings in Syrien <i>gehäuft friedliche
              Proteste</i> gegen das Assad-Regime auf. Es folgen <i>Demonstrationen in südlichen Landesteilen</i> und
            daraufhin
            auch <i>Pro-Assad Demonstrationen</i>. Im März <i>erschießen Sicherheitskräfte Demonstranten in der
              südlichen
              Stadt Daraa</i>.
            In Homs kommt es derweil zur <i>zweiten größeren Demonstration</i>, bei der auch <i>Schüsse</i> fallen.
            Auch in <i>Damaskus treten Prosteste</i> auf, die in einen <i>bewaffneten Konflikt</i> übergehen.
            Ende März tritt schließlich die syrische Regierung zurück.
          </p>

          <h6>April - Juni</h6>
          <p align="justify">
            Im April <i>beendet Assad den seit 1963 geltenden
              Ausnahmezustand</i>.
            Im Mai dringen <i>Panzer</i> immer weiter in Syrien vor um die <i>Proteste niederzuschlagen</i>.
          </p>

          <h6>Juli – September</h6>
          <p align="justify">

            Im Juli entlässt Assad den Gouverneur der nördlichen Provinz Hama.
            Der IPPNW (Internationale Ärzte für die Verhütung des Atomkrieges, Ärzte in sozialer Verantwortung e. V.)
            berichtet indessen über die <i>Gründung der Freien Syrischen Armee</i>.
          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">

            Im Oktober berichtet der Neue Syrische Nationalrat über eine <i>gemeinsame Front interner und
              verbannter Oppositionsaktivisten</i>. Außerdem wird ein erster <i>Antrag für eine
              Weltsicherheitsrat-Resolution
              gegen Syrien durch Russland und Syrien blockiert</i>.
            Ende 2011 schließt die Arabische Liga Syrien als Mitgliedsland aus.
          </p>



        </div>

      </div>
    </div>



    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2012</h6>

          </span>




          <h6><br>Januar - März</h6>
          <p align="justify">
            Es finden mehrere <i>Syrien-Friedensgesprächen in verschiedenen Städten</i> statt, darunter Genf und
            Sotschi.
            Im Februar verstärkt die syrische Regierung die <i>Bombardierung von Homs und anderen Städten</i>. In
            <i>Aleppo
              beginnen erste Demonstrationen</i>. Außerdem greifen Aufständische in Homs einen Checkpoint vor Chalidija
            an.
            Die US-Botschaft in Damaskus wird geschlossen und die Staaten des Golf-Kooperationsrates ziehen ihre
            Botschafter aus Syrien ab
            ab und weisen darüber hinaus die syrischen Botschafter aus ihren Ländern aus.
            Kofi Annan wird zum Sondergesandten der Arabischen Liga für Syrien ernannt.
          </p>


          <h6>April - Juni</h6>
          <p align="justify">
            Im Mai gibt es ein <i>Massaker in der Gemeinde Hula</i>. Im Juni <i>ändert die Türkei ihre
              Einsatzregeln</i>
            und erklärt, dass syrische Truppen, welche sich der türkischen Grenze nähern, als militärische Bedrohung
            angesehen werden.
            Die geplante syrische Übergangsregierung wird nicht gebildet.
          </p>

          <h6>Juli – September</h6>
          <p align="justify">
              
            Im Juli tötet die freie syrische Armee drei Sicherheitschefs in Damaskus und <i>erobert Teile
              der Stadt Aleppo im Norden</i>.
            Bewaffnete „Rebellen“ besetzen im Zuge der <i>Operation „Damaskus-Vulkan“</i> Teile der Hauptstadt.
          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">
            Im Oktober zerstört ein Feuer einen Großteil des historischen Marktes von Hula in Folge von <i>Bombenangriffen</i>.
            Einen Monat später wird die nationale Koalition für <i>syrische Revolutions- und Oppositionskräfte</i> in
            Katar gegründet. Ende 2012 erkennen die USA, Großbritannien, Frankreich, die Türkei und die Golfstaaten
            die Koalition als <i>legitimen Vertreter der syrischen Bevölkerung</i> an.
            In der Zwischenzeit tritt die Beteiligung der Bundeswehr an der US-geführten <i>„Operation Inherent Resolve“</i> in Kraft.
          </p>

        </div>

      </div>


    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2013</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Anfang 2013 <i>etabliert sich der Islamische Staat</i> im Norden Syriens.
          </p>

          <h6>April - Juni</h6>
          <p align="justify">
            Im April 2013 bestätigt der Generalsekretär der <i>Hisbollah-Miliz deren Einsatz an der Seite der syrischen
              Armee</i>.
            Am 22. Juni kommt es zum offiziellen Beschluss <i>Waffen an die Rebellen zu liefern</i>.
          </p>

          <h6>Juli – September</h6>
          <p align="justify">
            Im August werden mehr als <i>1.400 Menschen durch den Einsatz von Chemiewaffen getötet</i>.
            Teile der Stadt <i>Aleppo werden inzwischen von bewaffneten Rebellen kontrolliert</i>.
            Zur gleichen Zeit erobert die Terrormiliz <i>"Isis im Irak und
              in Syrien" die Stadt Ar-Raqqa</i>. Später ändern die Dschihadisten ihren Namen in die
            verkürzte Form "Islamischer Staat" (IS).

          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">
            Im Oktober tritt Syrien der <i>OPCW (Organisation für das Verbot chemischer Waffen) und der UN
            -Chemiewaffenkonvention</i> als offizielles Mitglied bei und
            hat nach Angaben der Organisation alle seine Anlagen zur Produktion zerstört.
            Ende 2013 stellen die USA und Großbritannien die Unterstützung für die Rebellen in Nordsyrien ein.
          </p>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2014</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Am 22. Januar beschließt Genf die <i>Evakuierung von Zivilisten aus Homs</i>. Die vermittelten
            <i>Friedensgespräche scheitern</i>, weil sich die syrischen Behörden weiterhin weigern eine Übergangsregierung zu
            ernennen.
            Im März <i>erobert die syrische Armee mit Hilfe der Hisbollah-Miliz, die syrische Stadt Yabroud</i>.
          </p>

          <h6>April - Juni</h6>
          <p align="justify">
            Im April soll nochmals der Einsatz von Giftgas in Syrien untersucht werden. Im Juni erklärt der
            <i>IS Teile
              Syriens zum Kalifat</i> und die letzten Chemiewaffen werden aus Syrien abtransportiert.
          </p>

          <h6>Juli – September</h6>
          <p align="justify">
            Im August und September fliegen die USA und ihre Verbündeten erste <i>Luftangriffe
              gegen die Terrormiliz IS im Irak</i> und kurze Zeit später <i>auch in der Umgebung von Aleppo und Ar-Raqqa</i>.
          </p>


        </div>


      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2015</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Anfang 2015 befreien kurdische Kämpfer die nordsyrische Stadt Kobane vom IS.
          </p>

          <h6>April - Juni</h6>
          <p align="justify">
            Im Mai <i>erobert der IS die antike Stadt Palmyra</i> in Zentralsyrien.
            Derweil übernimmt die <i>Jaish al-Fatah-Miliz die Kontrolle über die nordsyrische Provinz Idlib</i> und übt von dort Druck auf die Küstenhochburg der Regierung in Latakia aus.
          </p>

          <h6>Juli – September</h6>
          <p align="justify">
            Im August und September fliegt <i>Russland seine ersten Luftangriffe</i> in Syrien, um verlorene
            Gebiete der Regierung zurückzuerobern. Erstmals fliegt auch die französische Luftwaffe einen Angriff gegen ein
            Ausbildungslager von IS Kämpfern in Syrien. Am gleichen Tag greift
            Israel zwei Posten der syrischen Regierungstruppen auf den <i>syrischen Golan-Höhen mit Geschossen</i> an.
          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">

            Im Oktober nimmt erstmals der <i>Iran an der Syrienkonferenz</i> teil. Im November werden die
            verhandelten
            <i>Waffenruhen wiederholt gebrochen</i>. Ende 2015 ist das verbleibende Rebellen-Gebiet
            rundum
            <i>Homs
              wieder unter der Kontrolle der Regierung</i>. Fast zeitgleich wird ein <i>russisches
              Militärflugzeug durch die türkische Luftabwehr abgeschossen</i>. Zu diesem Zeitpunkt spricht man erstmals
            von
            einem bevorstehenden Weltkrieg.

          </p>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2016</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Anfang 2016 beginnen wieder <i>Friedensgespräche in Genf</i>, welche nach der dritten Runde ohne Erfolg
            ausgesetzt werden. <i>Russische Bomber</i> fliegen nördlich von Aleppo Einsätze zur taktischen Unterstützung
            syrischer Bodentruppen. Im Februar handeln die USA, Russland und wichtige Regionalmächte eine
            <i>Waffenruhe</i> aus, welche immer wieder gebrochen wird. Einen Monat später erobern <i>syrische
              Regierungstruppen
              Palmyra</i> zurück.
            Des Weiteren beginnt <i>Russland mit einem Teilabzug seiner militärischen Streitkräfte</i> aus Syrien.</p>

          <h6>Juli – September</h6>
          <p align="justify">

              
            Im August intervenieren <i>türkische Truppen in Syrien</i> ein. Zudem wird von einem Einsatz von
            <i>Chlorgas in der Nähe von
              Saraqib</i> gesprochen.
            Im September verständigen sich die USA und Russland nach <i>langwierigen Verhandlungen</i> erneut auf einen Plan zur
            Durchsetzung
            der Waffenruhe sowie
            für eine politische Lösung des Konflikts. Die Regierung in Damaskus erklärt wiederum die
            <i>Waffenruhe kurze Zeit später für beendet</i>.
            Währenddessen wird in der <i>syrischen Stadt Umm-Haush erneut Senfgas</i> eingesetzt.

          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">

            Ende 2016 nehmen <i>Regierungstruppen den kompletten Norden Syriens und die Stadt Aleppo</i> ein, der <i>IS
              marschiert
              unterdessen wieder auf die antike Stadt Palmyra</i>. Bewaffnete Gruppen, darunter auch andere
            <i>islamistische
              Milizen, ziehen weiter in Richtung Idlib</i>. Eine <i>weitere Waffenruhe</i>, welche Russland und die Türkei
              zwischen Regierungs- und Oppositionsgruppen ausgehandelt haben, tritt Ende Dezember in Kraft.

          </p>

        </div>


      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2017</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Nach der <i>Eroberung Aleppos</i> zieht Russland Anfang 2017 seine Truppen aus der Region ab. Am 23. Januar kommen
            Vertreter
            der Regierung und Opposition auf Betreiben Russlands und der Türkei zu <i>Verhandlungen in der
              kasachischen Hauptstadt Astana</i> zusammen, jedoch ohne greifbares Ergebnis. Am 18. Januar fliegen
            die
            Türkei
            und Russland erstmals gemeinsam <i>Luftangriffe</i>. Im Februar und März beginnen erneut Gespräche über
            politische
            Lösungen in Genf, welche weiterhin ohne Ergebnisse verlaufen.
            Im März wird eine Gruppe der US-Marine in die Nähe Ar-Raqqas entsendet, um dortige Verbände mit
            <i>Artilleriefeuer</i>
            zu unterstützen.
          </p>

          <h6>April - Juni</h6>
          <p align="justify">

            Von März bis Mai werden <i>mehrere Konglomerate von Deeskalationszonen</i> gebildet. Im April
            <i>bombardiert die USA den syrischen Luftwaffenstützpunkt Al-Schairat</i>. Bei einem <i>Luftangriff</i> auf
            den
            nordsyrischen Ort <i>Chan-Scheichun sterben indessen mindestens 70 Menschen</i>.
            Im Mai beschließt die USA die kurdischen Volksschutzeinheiten der <i>YPG-Miliz</i> zu
            bewaffnen.

          </p>

          <h6>Juli – September</h6>
          <p align="justify">
            Am 01. September wird eine <i>weitere Deeskalationszone</i> in der nordsyrischen Provinz Idlib gebildet.
          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">
            Im Oktober <i>verliert der IS die Kontrolle in der
            Stadt Ar-Raqqa</i> sowie in fast allen anderen besetzten nordsyrischen Städten. Ende 2017 ordnet <i>Russland den Abzug eines Großteils seiner
              Truppen aus Syrien</i> an. Der Bundestag verlängert währenddessen das
            Syrienmandat der Bundeswehr und bewilligt darüber hinaus 114,5 Millionen Euro. Unterdessen finden <i>weitere ziellose Verhandlungen</i> in Genf statt.

          </p>

        </div>


      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col">
          <span class="post-category text-white bg-danger">
            <h6>2018</h6>
          </span>

          <h6><br>Januar - März</h6>
          <p align="justify">
            Anfang 2018 startet die <i>Türkei eine Offensive in Nordsyrien</i>, um die <i>kurdischen Rebellen</i>,
            welche das Gebiet um Afrin kontrollieren,
            <i>zu vertreiben</i>. Im März erobert und besetzt die <i>türkische Armee die nordsyrische Stadt Afrin</i>. </p>

          <h6>April - Juni</h6>
          <p align="justify">

            Im April berichten Hilfsorganisationen von einem weiteren <i>Chlorgasangriff auf die Stadt Duma</i>.
            Derweil bombardieren Großbritannien, Frankreich und die USA die Ziele Damaskus und Homs.

          </p>

          <h6>Juli – September</h6>
          <p align="justify">

            Im Juli erobert die <i>syrische Armee fast den gesamten Süden des Landes</i> zurück.
            Ab September starten die <i>kurdisch geführten SDF-Truppen (Syrisch-Demokratische Kräfte) eine
              Offensive gegen den IS</i>,
            welche das Territorium
            der Terrormiliz auf eine winzige Enklave an der irakischen Grenze reduziert.
            Russland und die Türkei einigen sich im Norden auf eine <i>demilitarisierte Zone rundum Idlib</i>.

          </p>

          <h6>Oktober – Dezember</h6>
          <p align="justify">

            Im Oktober wird erneut das <i>Bundeswehrmandat</i> für Syrien und den Irak <i>verlängert</i>.

          </p>

        </div>



      </div>

    </div>
  </div>

  <div class="container">

    <div class="text-right">
      <a href="#"><button type="button" class="btn btn-danger">Zurück zu den Visualisierungen</button></a>
    </div>

  </div>

  


  <!--Datensammlung-->

  <div class="site-section">
    <div class="container">
      <h2 id="daten" tabindex='-1' class="mb-4">Recherche von Geodaten und statistischen Daten</h2>
      <div class="row">

        <div class="col-10">

          <h5>The Armed Conflict Location and Event Data Project (ACLED)</h5>
          <p align="justify">Das „The Armed Conflict Location and Event Data Project” (ACLED) ist ein <i>unabhängiges,
              nicht-staatliches Projekt</i> und erhebt <i>Konfliktdaten, aus den Gebieten Afrika, Asien, Europa und
              Lateinamerika</i>. Die Daten werden von Forschern analysiert, visualisiert und auf der Homepage des
            ACLED publiziert. Der Zugang zu diesen Daten und Analysen ist frei zugänglich und umfasssen verschiedene Zeitperioden. 
            Für das Gebiet Syriens sind Daten erst ab dem Jahr 2017 verfügbar.
            Als Quellen der ACLED-Daten werden unter anderem die LiveUMap und die SOHR (Syrische Beobachtungsstelle für
            Menschenrechte) genannt.

          </p>



        </div>

        <div class="col-2">

          <br>
          <img src="{% static 'images/logos/acled.jpg' %}" class="img-fluid">


        </div>

        <br>



        <div class="col-10">



          <h5>OpenStreetMap (OSM)</h5>
          <p align="justify" class="mb-4">OpenStreetMap (OSM) bietet als Plattform <i>frei zugängliche Geodaten</i>.
            Diese werden für die Visualisierungen benötigt u.a. administrative Grenzen der europäischen Länder und des Mittelmeerraums. 
            Es gibt viele Möglichkeiten OSM-Daten herunterzuladen. Zum Beipsiel in Form verschiedener Tools oder direkt im Downloadbereich der OSM-Umgebung. <br>

          </p>

        </div>

        <div class="col-2">
          <br>

          <img src="{% static 'images/logos/osm.jpg' %}" class="img-fluid">

        </div>



      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-2">
          <br>
          <br>

          <img src="{% static 'images/logos/eurostat.jpg' %}" class="img-fluid">

        </div>


        <div class="col-10">

          <h5>Statistisches Amt der Europäischen Union (Eurostat)</h5>
          <p align="justify">Das Eurostat ist nach eigener Aussage der <i>führende Anbieter qualitativ hochwertiger Statistiken über Europa</i>.
            Dabei erhebt Eurostat selbst keine Daten, sondern holt diese über die
            Statistikbehörden der Mitgliedsstaaten ein. Bei den Recherchen für das Projekt
            stellte sich heraus, dass das Eurostat der einzige Lieferant statistischer Daten auf europäischer Ebene
            ist.
            Die herausgegebenen Daten sind weitestgehend einheitlich, sodass eine vergleichbare Übersicht in
            tabellarischer Form entsteht. <br>

          </p>
        </div>



        <div class="col-2">
          <br>
          <br>

          <img src="{% static 'images/logos/bamf.jpg' %}" class="img-fluid">
        </div>

        <div class="col-10">


          <h5>Bundesamt für Migration und Flüchtlinge (BAMF)</h5>
          <p align="justify">
            Das Bundesamt für Migration und Flüchtlinge ist das <i>Kompetenzzentrum für Asyl und Migration in
              Deutschland
              und die zuständige Registerbehörde
              für das Ausländerzentralregister (AZR)</i>. Für die Einsicht der Daten können nur öffentliche
            Einrichtungen
            einen Antrag stellen, wenn die Einsicht eine gewisse Eilbedürftigkeit hat und die Datenabfrage
            angemessen ist. Die öffentlich zugänglichen Daten, die vom BAMF zur Verfügung gestellt werden, können
            in Monats- oder Jahresberichten eingesehen und als PDF-Datei gespeichert werden. Die Berichte beziehen
            sich auf alle Länder, aus denen Asylanträge eingingen.
            Dies hat zur Folge, dass alle Berichte einzeln analysiert werden müssen.  <br>

          </p>


        </div>
      </div>
    </div>


    <div class="container">

      <div class="row">



        <div class="col-10">

          <h5>United Nations High Commissioner for Refugees (UNHCR)</h5>
          <p align="justify">Die „United Nations High Commissioner for Refugees” (UNHCR) ist eine
            <i>globale Organisation der UN (Vereinte Nationen)</i>, welche sich der Arbeit widmet, die <i>Rechte
              der Flüchtlinge</i> zu stärken. Die UNHCR bietet <i>freizugängliche Daten zur Quantität von
              Flüchtlingen, Asylsuchenden und Binnenvertriebenen</i>.
            Das „Population Statistics“ Tool filtert die Verteilung eines spezifischen Populationstypen
            (z.B. Asylsuchende oder Flüchtlinge) im jeweiligen Jahr und im jeweiligen Land. Das „Resettlement
            Data Finder“ Tool zeigt hingegen die Anzahl, der durch das Resettlement-Programm verteilten Flüchtlinge.
            Ebenfalls wird angezeigt, wo Asyl beantragt wurde und wohin anschließend Flüchtlinge umgesiedelt wurden.
            Das „Operations Portal“ gibt einen Gesamtüberblick zur demographischen Verteilung der Flüchtlinge.
            Die Daten können als *.csv oder *.json heruntergeladen werden. Des Weiteren lassen sich die Daten auch
            über eine API beziehen.
            <br>

          </p>
        </div>

        <div class="col-2">
          <br>
          <br>

          <img src="{% static 'images/logos/unhcr.jpg' %}" class="img-fluid">

        </div>

        <div class="col-10">


          <h5>Uppsala Conflict Data Program (UCDP)</h5>
          <p align="justify">Das „Uppsala Conflict Data Program” (UCDP) wird von der <i>Universität von Uppsala in
              Zusammenarbeit mit dem Peace Research Institute Oslo</i> geleitet. Es ist ein <i>Projekt zur Sammlung
              von
              Daten über militärische Konflikte seit dem Jahr 1946</i>. Auf der Internetseite des UCDP werden diese
            Daten
            visualisiert und zum Download bereitgestellt. Für das Projekt sind alle Daten, die seit 2011 in Syrien
            erhoben wurden, interessant. Für Syrien können laut Aussage des UCDP keine Daten herausgegeben werden,
            da die Zählungen zu ungenau sind und auf Grund mangelnder
            finanzieller Mittel die Daten nur eingeschränkt zur Verfügung gestellt werden können.

          </p>



        </div>

        <div class="col-2">
          <br>

          <img src="{% static 'images/logos/ucdp.jpg' %}" class="img-fluid">


        </div>



        </div>

        <div class="text-right">
        <a href="#"><button type="button" class="btn btn-danger">Zurück zu den Visualisierungen</button></a>
        </div>
        </div>




        </div>


  <!--Medienlandschaft-->


  <div class="site-section">
    <div class="container">
      <h2 id="medien" tabindex='-1' class="mb-4">Analyse zur deutschen Berichterstattung im Syrienkonflikt</h2>

      <p align="justify" class="mb-4">Insbesondere in Zeiten politischer und wirtschaftlicher Krisen werden die Medien
        und ihre Berichterstattung kritisch betrachtet. Denn diese haben einen Bildungsauftrag und eine
        Informationspflicht gegenüber den Bürgerinnen und Bürgern. In den letzten Jahren wurden vermehrt Medien und
        Journalismus zur Berichterstattung im Syrienkonflikt kritisch diskutiert, da sie nach Auffassung von
        Publizisten und Lesern
        die Erwartungen nur genügend erfüllen. Die Studie untersucht die Berichterstattung zum syrischen Bürgerkrieg und
        zur damit verbundenen Flüchtlingsbewegung von Beginn des Bürgerkrieges im Jahr 2011 bis Ende 2018 in der
        deutschen Medienöffentlichkeit anhand bundesweiter Tageszeitungen, sowie deren Onlineplattformen,
        politischer Blogs und weiterer Online-Nachrichtenportale.
      </p>






      <div>





          <h4>Worum geht es in der Analyse?</h4>


<img src="{% static 'images/img_5.jpg' %}" class="mx-auto d-block" style="width:600px; height:600px" align=right><p align="justify">
          Mittels <i>quantitativer Inhaltsanalyse der Artikel</i> zu den Themen syrischer Bürgerkrieg und der damit
          verbundenen Flüchtlingsbewegung nach Deutschland

          wurden <i>Berichterstattungsintensität, Anlässe, Akteure, Inhalte, Themen und Wertungen</i> erfasst. Dies
          erlaubt Aussagen über deren Vielfalt, Ausgewogenheit, Neutralität und Tiefe.
          Es wurden sowohl <i>journalistische Artikel in der deutschen Tagesberichterstattung, als auch Posts in politischen
            Blogs</i> ausgewertet. Dabei wurde an der Chronik des Bürgerkriegs entlang gearbeitet und Artikel zu jedem Ereignis recherchiert.
          Die Auswertung beschränkt sich allein auf frei zugängliche Onlineportale, da zum Zeitpunkt der Studie der
          Beginn des Bürgerkriegs bereits mehrere Jahre zurückliegt und Onlinemedien es ermöglichen auf Archive
          zuzugreifen. Die nebenstehende Abbildung gibt einen Überblick über die erfassten Nachrichtenportale und ordnet sie anhand
          der Komplexität in ihrer Berichterstattung. Die Auswahl erfolgte bewusst anhand der Positionierung im politischen 
          Rechts-Links-Spektrum und entlang der Vorgabe, dass Boulevardzeitung, Qualitätszeitungen und Allgemeinzeitungen vertreten sein sollten, 
          um unterschiedliche Medientypen abzudecken.
          Die Nachrichtenportale, die nicht eingekreist sind, gehören zu den Nachrichtenquellen, die weniger geeignet
          erscheinen, da sie keine neutrale politische Haltung einnehmen.
          Die Quellenanzahl hing dabei von den Recherche-Ergebnissen ab und ob der Zugang zu den Artikeln kostenfrei ist. Es
          ist somit schwierig genau zu ermitteln wie viele Quellen repräsentativ für die gesamte Medienlandschaft notwendig
          sind. Nicht alle Nachrichtenportale berichten im gleichen Maße über die Ereignisse und können daher nicht
          gleichermaßen miteinbezogen werden. Umso schwieriger gestaltete es sich, genügend verschiedene Artikel zu einem Ereignis
          zu finden. Abschließend erreichen die bekanntesten Nachrichtenquellen eine höhere Lesergemeinschaft als die weniger
          bekannten Blogs.


</p>







      </div>

      <h4>Einschätzung</h4>
      <p align="justify">Die Zahl der Toten, welche in den Aufständen ums Leben kamen, weichen den Berichten zufolge nicht stark
        voneinander ab. Es zeigt sich, dass die Berichterstattung zu den Ausmaßen und Verursachern der Giftgasattacken
        sehr stark regierungsgeprägt und mehrheitlich meinungsorientiert bis wertend ist. Dabei werfen sich die Rebellen
        und die Regierungsmitglieder immer wieder gegenseitig den Einsatz von chemischen Waffen vor.
        Des Weiteren werden erheblich häufiger Aussagen dazu gemacht, dass das Regime für die Sarin- und Chlorgasattacken
        verantwortlich sei. Insgesamt wird somit ein <i>negatives Bild über den syrischen Machthaber Baschar al-Assad</i>
        vermittelt. Dadurch, dass häufig Oppositionelle befragt werden, bewirkt dies den Anschein, dass die <i>Berichterstattung 
        dadurch teilweise sehr einseitig verläuft</i>.
        Die syrische Flüchtlingsbewegung wird in den deutschen Medien von zerstörten Stadtteilen, Verletzten und Bomben
        begleitet. Auch von Einzelschicksalen, betroffenen Kindern und Familien auf ihrem weiten Fluchtweg wird berichtet.
        Die <i>Flüchtlingszahlen</i> aus den Nachrichtenquellen <i>unterscheiden sich nur in geringem Maße</i> von den
        Statistiken der UNHCR. Jedoch werden in den Artikeln <i>häufig keine Quellen</i> genannt von wo die Zahlen bezogen
        werden. Die BILD-Zeitung hat Ende 2017 von 10.000 Flüchtlingen gesprochen, während in der UNHCR-Statistik von 11.706
        Flüchtlingen die Rede ist. Auch bei der <i>Gesamtzahl der Flüchtlinge gibt es Unterschiede</i>. Wiederum berichtet
        die BILD-Zeitung von 11 Mio. Flüchtlingen. Das sind 2 Mio. weniger als die UNHCR-Statistik aussagt. Nicht in allen
        Fällen wurden konkrete Zahlen genannt. So berichtete beispielsweise die Süddeutsche Zeitung Anfang 2016 in einem Artikel von
        Hunderttausenden zu erwartenden Asylanträgen. Tatsächlich waren es im Jahr 2016 266.250 Neuanträge. Die
        <i>Pauschalisierungen</i> ziehen sich dabei durch die gesamte Berichterstattung.


            </p>

      <br>

      <div class="text-right">
        <a href="#"><button type="button" class="btn btn-danger">Zurück zu den Visualisierungen</button></a>
      </div>


    </div>

  </div>



  <!--About-->


  <div class="site-section">
    <div class="container">
      <h1 id="about" tabindex='-1' class="mb-4">Über das Projekt</h1>


      <div class="row">
        <div class="col-6">
          <h2><br>Wer sind wir?</h2>
          <p align="justify">Willkommen auf unserer Seite. Wir sind eine <i>Gruppe aus fünf Studierenden</i> im
            Masterstudiengang
            Geoinformation mit dem Schwerpunkt angewandte Geoinformatik und Kartographie, der <i>Beuth Hochschule für Technik
              Berlin</i>.
            Unsere Gruppe setzt sich zusammen aus Josefine Kottke, Tramy Vu, Max Schultrich, Kevin
            Pannenberg und Hoang Vu Tuyen (v. links nach rechts).
          </p>
        </div>
        <div class="col-6">
          <br>
          <br>
          <img src="{% static 'images/gruppe.jpg' %}" class="rounded img-fluid">

        </div>
      </div>

      <h2>Worum geht es im Projekt?</h2>
      <p align="justify">
Das Projekt ist ein <i>studienbezogenes Projekt</i>, das sich thematisch mit der <i>Forschungsfrage</i>
        „Inwieweit existieren
        Korrelationen zwischen der
        zunehmenden Intensität von Kriegshandlungen und der daraus folgenden Emigration aus Syrien?“ beschäftigt.
        Am Projekt wurde seit Beginn der Vorlesungszeit des Sommersemesters 2019 bis zum Ende des Wintersemesters
        2019/2020 gearbeitet.
        Das <i>Ziel des Projekts</i> ist es, <i>interaktive Kartenanwendungen</i> für das World Wide Web zu entwickeln,
        welche die
        <i>Themenschwerpunkte Bürgerkrieg und
          Migration</i> vereinigen und visualisieren. Im konkreten Anwendungsfall wurde ein sehr langwieriger und
        schwerwiegender
        Konflikt der
        jüngeren Geschichte bearbeitet, der syrische Bürgerkrieg. Jener forderte u.a. eine der größten humanitären und
        politischen Herausforderungen zu Tage, die europäische Flüchtlingskrise im Jahr 2015.
        Die <i>Geovisualisierungen</i> beinhalten drei interaktive, thematische Karten: die <i>Map of Migration Flow,
          die Map of
          Conflict und die Map of Migration Density</i>.



      </p>



      <div class="text-right">
        <a href="#"><button type="button" class="btn btn-danger">Zurück zu den Visualisierungen</button></a>
      </div>



    </div>

  </div>

  <div class="container">
    <footer>
      <p><br>

        <a href="{% url 'impressum' %}">Impressum</a></p>
    </footer>
  </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>


  <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>


</body>

</html>
